---
import { languages } from "../i18n/ui";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<li class="relative">
  <!-- Dropdown button -->
  <button
    id="dropdownDefaultButton"
    data-dropdown-toggle="dropdown"
    class="flex items-center gap-2 py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-amber-600 md:p-0 transition-colors duration-200"
    type="button"
  >
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m13 19 3.5-9 3.5 9m-6.125-2h5.25M3 7h7m0 0h2m-2 0c0 1.63-.793 3.926-2.239 5.655M7.5 6.818V5m.261 7.655C6.79 13.82 5.521 14.725 4 15m3.761-2.345L5 10m2.761 2.655L10.2 15"
      />
    </svg>
    <!-- <span class="text-sm font-medium">{languages[lang]}</span> -->
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"
      />
    </svg>
  </button>

  <!-- Dropdown menu -->
  <div
    id="dropdown"
    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-md w-44 border border-gray-100 absolute right-0 mt-2"
  >
    <ul
      class="py-1 text-sm text-gray-700"
      aria-labelledby="dropdownDefaultButton"
    >
      {
        Object.entries(languages).map(([langCode, label]) => (
          <li>
            <a
              href={`/${langCode}/`}
              class={`block px-4 py-2 hover:bg-gray-50 transition-colors duration-150 ${
                lang === langCode ? 'text-amber-600 font-medium' : ''
              }`}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</li>